.authContainer {
  background-image: url('/crypto-background.jpg');
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-blur {
  backdrop-filter: blur(10px);
}